{% load static%}

<html>
<head>
<title>SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{%static 'css/style1.css'%}" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
	<script>
		function check_pass() {
    if (document.getElementById('password').value ==
            document.getElementById('cpassword').value) {
        document.getElementById('cpassword').setCustomValidity('');
    } else {
        document.getElementById('cpassword').setCustomValidity("Passwords Don't Match");
}	</script>
</head>
<body>

	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{% url 'registration' %}" method="post">
					{% csrf_token %}
					<input class="text" type="text" name="first_name" placeholder="Firstname" required=""><br/>
					<input class="text" type="text" name="last_name" placeholder="Lastname" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="text" name="username" placeholder="Username" required=""><br/>
					<input class="text" type="password" name="password" id="password" placeholder="Password" required="" >
					<input class="text" type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" required="">

					<input type="submit" id="submit" value="Sign Up">
				</form>

<!--				{% if messages %}-->
<!--                <ul class="messages">-->
<!--          		{% for message in messages %}-->
<!--    			<li>{{ message }}</li>-->
<!--    			{% endfor %}-->
<!--				</ul>-->
<!--				{% endif %}-->

				{% if messages %}
				<ul>
        		{% for message in messages %}
          		<li>{{message}}</li>
        		{% endfor %}
				</ul>
    			{% endif %}


				<p>If you already have an account <a href="/credentials/login" target="blank"><strong>login</strong></a> instead.</p>
			</div>
		</div>

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
</html>